<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.primeapps_beta" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="28" />
	<application android:label="PrimeApps.Android" android:theme="@style/MainTheme" android:icon="@drawable/Primeicon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>